<h3><%= t '.profile', :default => 'Profile' %></h3>

<p><%= link_to t('.update_profile', :default => "Update my profile"), edit_profile_url(current_user) %></p>

<table class="overview">
  <% @profile.public_attributes.each do |column| -%>
    <%= cell "#{Profile.human_attribute_name(column)}", "#{@profile.send(column) || '-'}" %>
  <% end -%>
</table>

