/* Ticket body
#ticket { width: 560px } */
#ticket span.ticket_id {
  float: left; margin: 4px;
  font-size: 20px;
  color: #000000; font-weight: bolder;
}
#ticket .ticket_body {
  border: 1px solid #e5e5d9;
  border-right-color: #6d6d49;
  border-bottom-color: #6d6d49;
  margin: 12px 0 0 0; padding: 5px;
  background-color: #ffffe0;
}
#ticket div.ticket_subject {
  font-weight:bolder;
  font-size: 16px;
  padding: 1px 0 2px 0;
  width: 100%;
  border-bottom: 1px solid #e0e0ae;
}
#ticket .ticket_header p {
  color: #666635;
  font-size: smaller;
  margin: 14px 3px 8px 3px;
  border-bottom: 1px solid #f7f7da
}
/* Ticket update history */
#ticket .ticket_body .ticket_header p span.value { color: #000000 }
#ticket .ticket_body .ticket_header p span.left { float:left; width:200px; }
#ticket .ticket_body .ticket_header p span.right { margin-left: 120px; }
#ticket .ticket_body .description_title { color: #666635; border-bottom: 1px solid #e0e0ae }
.ticket_description p { margin: 10px 3px 3px 3px }
.ticket_description a { /* Same as a.external :S someone knows how to map this?*/
  padding: 1px 13px 1px 0px;
  background: URL('/images/external.png') right no-repeat;
}
.ticket_description a:hover { text-decoration: underline; color: #0054ff }
#updates_ticket {
  border: 1px solid #cccccc;
  border-right-color: #545454;
  border-bottom-color: #545454;
  padding: 10px 5px;
  margin-top: 5px;
  font-size: small;
}
#updates_ticket .ticket_update_entry .ticket_update_header {
  margin-top: 10px;
  padding-bottom: 5px;
  color: #666666;
  border-bottom: 1px solid #cccccc;
}
#updates_ticket .ticket_update_entry li { list-style-type: circle }
#updates_ticket .ticket_update_entry li .changed_title { font-weight: bold }
#update_ticket_form { width: 560px; margin-top: 16px }

