#ticket { border: 1px solid #d5d55e; padding: 10px; background-color: #ffffcc }
#ticket span.ticket_id {
  float: left; padding: 0;
  width: 100px; font-size: 18px;
  color: #4e3300; font-weight: bold;
}
#ticket span.right { margin-left: 120px; margin-top: 5px }
#ticket p { margin: 10px 3px 10px 3px; padding: 0 }
#ticket .ticket_body {
  border: 1px solid #eded9a;
  margin: 0; padding: 5px;
  background-color: #ffffe0;
}
#ticket .ticket_body p { margin: 3px }

#updates_ticket { border: 1px dotted #8c5b00; padding: 10px; margin-top: 5px; background-color: #ffffe6 }
#updates_ticket .ticket_body {
  border: 1px solid #eded9a;
  margin: 0; padding: 5px;
  background-color: #fffff5;
}
#updates_ticket p { margin: 10px 3px 10px 3px; padding: 0 }
#updates_ticket .ticket_body p { margin: 3px }
#updates_ticket hr { border: 0; border-bottom: 1px solid #f9be50 }

/* Other options */
table.lista_tickets {
  margin: 1.2em 0; width: 100%;
  border-collapse: collapse;
  border: 1px solid #d3dbff;
}
table.lista_tickets th { text-align: left; padding: 5px; border: 1px solid #d3dbff; background-color: #f5f6fa }
table.lista_tickets td {
  vertical-align: center; text-align: left;
  color: black; font-size: 12px;
  padding: 5px; border: 1px solid #d3dbff
}
table.lista_tickets td.ticket_status { text-align: center }
table.lista_tickets td.novo { color: #ff418c }
table.lista_tickets td.andamento { color: #ffa500 }
table.lista_tickets td.cancelado { color: #ff0000 }
table.lista_tickets td.analise { color: #a4ff41 }
table.lista_tickets td.concluido { color: #4161ff }
table.lista_tickets td.reaberto { color: #b641ff }
table.lista_tickets tr.concluido td { text-decoration: line-through }
table.lista_tickets tr.cancelado td { text-decoration: line-through }
table.lista_tickets tr.reaberto td { font-style: oblique }
