<ul>
  <li><%= tab_to t('.dashboard', :default => 'Dashboard'), [{:controller => "dashboard" }] %></li>
  <li><%= tab_to t('.people', :default => 'People'), [{:controller => "people" }] %></li>
</ul>

