<ul>
	<li style="float: right;"><%= tab_to t('.tickets', :default => 'Tickets'), [{:controller => "tickets" }] %></li>
	<li><%= tab_to t('.dashboard', :default => 'Dashboard'), [{:controller => "dashboard" }] %></li>
</ul>

