<ul>
  <li><%= tab_to t('.dashboard', :default => 'Dashboard'), [{:controller => "dashboard" }] %></li>
  <li><%= tab_to t('.tickets', :default => 'Tickets'), [{:controller => "tickets" }] %></li>
  <li><%= tab_to t('.items', :default => 'Items'), [{:controller => "items" }] %></li>
</ul>

